/* src/pages/LandingPage.css */
/* googleフォントダウンロード */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif+JP:wght@500&family=Shippori+Mincho&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #4c413aff;
  }

  header {
    padding: 10px;
  }

  .header_logo{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 1%;
    }
    


    .start {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #f6f2f1ff;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .start p {
      opacity: 0;
      transition: opacity 1.6s;
      font-color: #4c413aff;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: italic;
      font-size: 5vw;
      letter-spacing: 0.2em;
      text-align: center;
      margin: 1%;
    }
    
    .start p.visible {
      opacity: 1;
      transition: opacity 0.5s;
    }
    
    .start.visible {
      opacity: 1;
      transition: opacity 0.5s;
    }
    
    .start.hidden {
      opacity: 0;
      transition: opacity 1s;
    }

    .ml12 {
      /* font-weight: 200;
      font-size: 1.8em;
      letter-spacing: 0.5em; */
    }
    
    .ml12 .letter {
      display: inline-block;
      line-height: 1em;
    }

  
  /* ホームトップSwiperコンテナのスタイル */

.swiper {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像をコンテナのサイズに合わせてトリミング */
}



/* スワイパーのページネーション（オプション） */
.swiper-pagination {
  --swiper-theme-color: #877366ff !important; /* ページネーションの色 */
  bottom: 10px !important;
} 


.swiper-pagination-active {
  opacity: 1;
}


/*フェードインフェードアウト*/
[data-aos="fade-in"] {
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translateY(40px);
}

.title_first{
  position: absolute;
  margin-top: -22vw;
  z-index: 1;
  padding: 0.3em 1em;
  color: #2c2c2f;
  background: #fff;/*背景色*/
  opacity: 0.8;
  width: 62%;
  font-size: 3vw;
  transform: skewX(-45deg);
}

.title_second{
  position: absolute;
  margin-top: -16vw;
  z-index: 1;
  padding: 0.3em 1em;
  color: #2c2c2f;
  background: #fff;/*背景色*/
  opacity: 0.8;
  width: 62%;
  font-size: 3vw;
  transform: skewX(-45deg);
}

.customizeoption{
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
  margin-top: 10%;
}

.customizeoption img{
  width: 41vw;
}

.simulate_title{
  display: flex;
  justify-content: center;
}

.simulate_title p{
  font-size: 4vw;
}

.information{
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
  margin: 10%;
  text-align: center;
  font-size: 3vw;
  line-height: 1.6em
}

.estimate_section{
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
  margin: 10%;
}


footer {
  text-align: center;
  padding: 10px;
}